In [2]:
# Bringing in the necessary libraries
import os
import json
import pandas as pd

In [3]:
# Reading in the answers

df_answers = pd.read_csv('reddit_answers_big.csv', sep=';')

df_answers.head(3)

,Unnamed: 0,q_id,text,votes
0,0,hvbvpz,Two pet ducks. You may be tempted to go for on...,2359.0
1,1,hvbvpz,Nice try Jeff Bezos,764.0
2,2,hvbvpz,A curved shower rod. Seriously. $10 for a tens...,1525.0

In [4]:
# Grabbing the top answers
df_top_votes = df_answers.groupby('q_id')['votes'].idxmax()
df_top_answers = df_answers.loc[df_top_votes]

df_top_answers.rename(columns={'text': 'answer'}, inplace=True)
df_top_answers.rename(columns={'q_id': 'iq'}, inplace=True)
df_top_answers.rename(columns={'votes': 'answer_votes'}, inplace=True)